<h3>Create a Restaurant</h3>

<form class="creation-form" action="/restaurants" method="post">
	<label>Name: <input type="text" name="input[name]"></label>
	<label>Cuisine: <input type="text" name="input[cuisine]"></label>
	<label>Address: <input type="text" name="input[address]"></label>
	<label>City: <input type="text" name="input[city]"></label>
	<label>State: <input type="text" name="input[state]"></label>
	<label>Zip: <input type="text" name="input[zip]"></label>
	<input type="submit" name="submit" value="Create Restaurant">
</form>