<h3>Create a Review</h3>

<form class="review-form" method="post" action="/reviews">
	<input type="hidden" name="review[reviewer_id]" value="<%= current_user_id %>">
	<input type="hidden" name="review[restaurant_id]" value="<%= @restaurant.id %>">
	<label>Stars:</label>
	<select name="review[stars]" class="stars-dropdown">
		<option value="5">5</option>
		<option value="4">4</option>
		<option value="3">3</option>
		<option value="2">2</option>
		<option value="1">1</option>
	</select>
	<br><br>
	<textarea class="review-body" cols="65" rows="5" name="review[body]" placeholder="Your review here"></textarea>
	<input type="submit" name="submit" value="Submit">
</form>